<%= render 'form', title: "Edit User" %>

<div class="text-center well col-md-offset-2 col-md-4">
    <%= link_to 'delete user',
    user_path(@user),
    method: :delete,
    data: {confirm: 'Are you sure?'},
    class: 'btn btn-danger' %>
</div>
