<div class="page-header">
<h2>Edit User</h2>
</div>

<%= render 'form' %>

<div class="well">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
    <%= link_to 'delete', @user, class: 'btn btn-danger', method: :delete, data: {confrim: true} %>
    </div>
  </div>
</div>
