


<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <dl class="dl-horizantal">
        <dt>
          <dd>
      <td><%= mail_to @user.first_name %></td>
      <td><%= mail_to @user.last_name %></td>
      <td><%= @user.email %></td>
          </dd>
          </dt>
      </dl>
    </tr>
  </tbody>
</table>
