<% if notice %>
  <div class="alert alert-success text-center">
    <%= notice %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <div class="dl-horizantal">
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
      <td><%= mail_to @user.email %></td>
      </div>
    </tr>
  </tbody>
</table>
