<div class="page header text-center">
  <h1>About</h1>
  <p>Get organized and increase productivity with your team. Class project for galvanize full stack program.</p>
</div>

<div class="text-center">
  <%= image_tag("gcamp_beanbag.jpg") %>
</div>
