<div class="page header text-center">
  <h1>About</h1>
  <p>Get organized and increase productivity for your team with this class project rails app I did while attending the galvanize full stack program. I'm iterating back over it and I'm still not groking what it does, I want to say it's a project managment app. I'm so far up it's butt I haven't sat back and used the app yet.</p>
</div>

<div class="text-center">
  <%= image_tag("gcamp_beanbag.jpg") %>
</div>
