<div class="page header text-center">
  <h1>About</h1>
  <p>Get organized and increase productivity for your team with this class project rails app I did while attending the galvanize full stack program.</p>
</div>

<div class="text-center">
  <%= image_tag("gcamp_beanbag.jpg") %>
</div>
