<!-- Main jumbotron for a primary marketing message or call to action -->

<!-- images -->
<div class="container">
  <div class="jumbotron">
    <h1>gCamp</h1>
    <p>Your life, organized</p>
  </div>
  <div class="col-md-4">
    <div class="row">
      <img class="col-md-12" src="http://www.imcreator.com/wp-content/uploads/2013/10/wpid-Featured_Picture482-620x413.jpg">
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
      <h3 class="panel-title">Tasks</h3>
      </div>
      <div class="panel-body">
        Grouped by projects and lists.  Just the way you like'em
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <img class="col-md-12" src="http://www.imcreator.com/wp-content/uploads/2013/10/wpid-Featured_Picture406-620x413.jpg">
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
      <h3 class="panel-title">Documents</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <img class="col-md-12" src="http://www.imcreator.com/wp-content/uploads/2013/11/wpid-Featured_Picture54-620x413.jpg">
    </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Comment on tasks and documents</li>
            <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<% @quotes.each do |quote| %>
  <p><%= quote.text %></p>
  <p><%= quote.author %></p>
  <hr>
<% end %>
