<div class="jumbotron">
  <h1>gCamp</h1>
  <p>Your life, organized</p>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "three.jpg" %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks</h3>
      </div>
      <div class="panel-body">
        <p>Grouped by projects and lists.  Just the way you like'em</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= image_tag "two.jpg" %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= image_tag "one.jpg" %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications (coming soon)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

