<h1>terms & conditions</h1>

<p>This is a class project app I did for the galvanize full stack program. This is where a real terms and conditions page would go if this was a production app. Therefore there is no terms and conditions.</p>
