<% if notice %>
  <div class="alert alert-success text-center">
    <%= notice %>
  </div>
<% end %>




<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
