<% if notice %>
  <div class="alert alert-success text-center">
    <%= notice %>
  </div>
<% end %>



<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <dl class="dl-horizantal">
      <td><%= @project.name %></td>
      </dl>
    </tr>
  </tbody>
</table>
